.outer-container{
    height: 100%;
    width: 100%;
    background: url('../Header/images/joshua-reddekopp-GkFQEOubrCo-unsplash.jpg') center repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
}

.inner-container{
    position: relative;
    top: 15vh;
}

@media screen and (max-width: 1000px){
    .inner-container{
        top: 38vh;
    }
}