.outer-container{
    background: url('../Header/images/joshua-reddekopp-GkFQEOubrCo-unsplash.jpg') center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.card{
    height: 150px;
    z-index: 3;
}

#card-1{
    background: url('./images/html5.png') center no-repeat;
    background-size: contain;
    margin-top: 50%;
}

#card-2{
    background: url('./images/css3.png') center no-repeat;
    background-size: contain;
    margin-top: 50%;
}

#card-3{
    background: url('./images/js.png') center no-repeat;
    background-size: contain;
    margin-top: 50%;
}

#card-4{
    background: url('./images/cpp.png') center no-repeat;
    background-size: contain;
    margin-top: 50%;
}

#card-5{
    background: url('./images/python2.png') center no-repeat;
    background-size: contain;
    margin-top: 10px;
}

#card-6{
    background: url('./images/react4.png') center no-repeat;
    background-size: contain;
    margin-top: 10px;
}

#card-7{
    background: url('./images/redux.png') center no-repeat;
    background-size: contain;
    margin-top: 10px;
}

#card-8{
    background: url('./images/django.png') center no-repeat;
    background-size: contain;
    margin-top: 10px;
}

#card-1:hover{
    background-color: white;
    
}