.outer-container2{
    background: url('../Header/images/joshua-reddekopp-GkFQEOubrCo-unsplash.jpg') center no-repeat;
    background-size: cover;
    height: 210vh;
    width: 100vw;
    position: absolute;
    background-attachment: fixed;
    top: 0;
}

.inner-container2{
    position: relative;
    top: 15vh;
    z-index: 5;
}

@media screen and (max-width: 1000px){
    .outer-container2{
        height: 220vh;
    }
}